<h1 class="text-3xl font-bold mb-6"><%= @event.title %></h1>

<div class="prose prose-lg max-w-none">
  <h2 class="text-2xl font-semibold mb-4">About</h2>
  <%= render_rich_text_with_embeds(@event.description) %>
</div>

<div>
  <h2 class="text-2xl font-semibold mb-4">Participants</h2>
  <%= render partial: "events/invitation_status", locals: { event: @event } %>
</div>

<h2 class="text-2xl font-semibold mb-4">Add Friends to Event</h2>
<ul class="list-none space-y-26">
  <% @friends.each do |friend| %>
    <li class="mb-2">
      <%= friend.first_name %> <%= friend.last_name %> (<%= friend.tag %>)
      <div class="flex space-x-4">
        <%= button_to 'Add as Attending', add_friend_event_path(@event, friend_id: friend.id, rsvp_status: 'accepted'), method: :post, class: "bg-accent-red text-white px-4 py-2 rounded hover:bg-red-600" %>
        <%= button_to 'Add as Maybe', add_friend_event_path(@event, friend_id: friend.id, rsvp_status: 'pending'), method: :post, class: "bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400" %>
      </div>
    </li>
  <% end %>
</ul>

<% if @event.visibility == "friends" && current_user.friends.include?(@event.user) %>
  <%= button_to "Join Event", update_participation_status_event_path(@event, status: "accepted"), 
      method: :patch, class: "bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600" %>
<% end %>

<%= link_to 'Back to Events', events_path %>

<div id="calendar"></div>